USE [master]
GO
/****** Object:  Database [OPCRUX_CD]    Script Date: 20.12.2019 16:14:36 ******/
CREATE DATABASE [OPCRUX_CD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OPCRUX_CD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\OPCRUX_CD.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'OPCRUX_CD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\OPCRUX_CD_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OPCRUX_CD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OPCRUX_CD]
GO
/****** Object:  Table [dbo].[IDCounter]    Script Date: 20.12.2019 16:14:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IDCounter](
	[type] [varchar](50) NOT NULL,
	[counter] [bigint] NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
